<div id="<%= dom_id payment %>">
  <p>
    <strong>Title:</strong>
    <%= payment.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Receiver:</strong>
    <%=payment.email %>
  </p>

</div>
